<div class="dropdown ">
    <a class="nav-link pr-0 leading-none" href="#" data-toggle="dropdown" aria-expanded="false">
        <img class="avatar avatar-md brround" src="~/assets/images/users/user.png" alt="image">
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow w-250">
        <a href="#" class="dropdown-item pt-3 pb-3"><i class="dropdown-icon mdi mdi-account-outline text-primary "></i>Login</a>
        <a href="#" class="dropdown-item pt-3 pb-3"><i class="dropdown-icon  mdi  mdi-logout-variant text-primary"></i>Register</a>
    </div>
</div>

@*<div class="dropdown ">
        <a class="nav-link pr-0 leading-none" href="#" data-toggle="dropdown" aria-expanded="false">
            <img class="avatar avatar-md brround" src="~/assets/images/users/user.png" alt="image">
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow w-250">
            <div class="user-profile border-bottom p-3">
                <div class="user-image"><img class="user-images" src="~/assets/images/users/user.png" alt="image"></div>
                <div class="user-details">
                    <h4>Hello</h4>
                    <p class="mb-1 fs-13 text-muted">AnnaSthesia@gmail.com</p>
                </div>
            </div>
            <a href="#" class="dropdown-item pt-3 pb-3"><i class="dropdown-icon mdi mdi-account-outline text-primary "></i> My Profile</a>
            <a href="#" class="dropdown-item pt-3 pb-3"><i class="dropdown-icon  mdi  mdi-logout-variant text-primary"></i>Sign Out</a>
        </div>
    </div>*@
