@{
    ViewData["Title"] = "Home Page";
}


<!--Page header-->
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title">Home</h4>
        <ol class="breadcrumb pl-0">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </div>
</div>
<!--End Page header-->
